{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
<div class="bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 h-full w-full">
    <h1 class="font-extrabold tracking-widest">WILD Clément</h1>
</div>
{% endblock %}
